<ion-view view-title="Chords">
  <ion-content>
   <div class="list card">
    	<div class="item">
    	    <h2>Do</h2><img style="max-width: 250px; height: auto; " src="img/C.jpg" />
        	<p>Notas</p>
        	<p>Do - Mi - Sol</p>
        	</div>
   	 
    	<div class="item">
        	<h2>Do menor</h2><img style="max-width: 250px; height: auto; " src="img/Cm.jpg" />
        	<p>Notas</p>
        	<p>Do - Re sostenido - Sol</p>
    	</div>
    	
    	<div class="item">
        	<h2>Do 7</h2><img style="max-width: 250px; height: auto; " src="img/C7.jpg" />
        	<p>Notas</p>
        	<p>Do - Mi - Sol - Si bemol</p>
    	</div>
    	
    	<div class="item">
        	<h2>Do disminuido</h2><img style="max-width: 250px; height: auto; " src="img/Cdim.jpg" />
        	<p>Notas</p>
        	<p>Do - Re sostenido - Fa sostenido</p>
    	</div>
    	
    	<div class="item">
        	<h2>Do aumentado</h2><img style="max-width: 250px; height: auto; " src="img/Caug.jpg" />
        	<p>Notas</p>
        	<p>Do - Mi - Sol sostenido</p>
    	</div>
	</div>
  </ion-content>
</ion-view>
